/*
 * Theme Name:   WordPress Sample Themes
 * Author:       Yusuke Akiyama
 * Description:  練習用
 * Version:      1.0
*/
@import "./css/base/_reboot"
h1
  color: midnightblue
h2
  color: teal

.box
  background: cornflowerblue;
  width: 100px;
  height: 100px;